.cardMain{
    background-color: rgb(223, 223, 223);
    border-radius: 7px;
    padding: 5px;
    width: 290px;
    height: 400px;
    color: black;
}
.cardHead{
    display:flex;
    padding: 10px;
    gap: 10px;
    align-items: center;
}
.cardHeadImg img{
    width: 40px;
    background-color: black;
    border-radius: 40px;
    height: 40px;
}
.cardHeadDesc p:nth-child(1){
    font-size: 23px;
}
.cardDesc{
    padding: 10px;
    font-size: 19px;
}