.elem {
    /* display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 5fr;
    font-size: 3rem;
    border-radius: 1rem;
    gap: 0rem;
    box-sizing: border-box;
    margin: auto;
    align-items: center;
    justify-items: center;
    justify-self: center;
    padding: 0rem 0.5rem; */

    display: flex;
    
    margin-left: 0%;
    
    

    justify-content: space-around;


    background-color: #2c0333;

    height: 50rem;
    width: 100%;
    /* filter: drop-shadow(0 0.2rem 0.25rem black); */
    padding-left: 3rem;
    padding-right: 3rem;
    
    
    /* border-image: linear-gradient(135deg, #f701b2, #01a7fe) 100;
    border-width: .7rem;
    border-style: solid;
    border-radius: 1rem; */
    
    
    /* margin: 0 10rem; */
}

.dv1{
    /* display: flex; */
    /* flex-direction: column; */
    width: 90%;
    margin-left: 1rem;
    
}

  
 .elem:before, .elem:after {
    z-index:1;
    position: absolute;
    content:"";
    width:85%;
    height:50rem;
    
    top:0;
    /* background-image: linear-gradient(-50deg, #6092faff 50%, #f700c5ff 50%); */
    /* filter: blur(2px);   */

    border-image: linear-gradient(135deg, #f701b2, #01a7fe) 100;
    border-width: .7rem;
    border-style: solid;
    border-radius: 1rem;

    padding-left: 3rem;
    padding-right: 3rem;
    
    
  }

  .elem:after{
    filter: blur(1rem);
    /* margin-bottom: 1rem; */
  }
   
/* 
.elem:hover .box {
    transform: translateX(4rem);
}

.elem:hover .para {
    transform: scale(1.09);
} */

.box {
    align-self: center;
    width: 40%;
    height: 50%;
    padding: 0rem ;
    background-color: rgb(255, 255, 255);
    transition: all ease 0.6s;

    margin-left: 2rem;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.para {
    grid-column: 2/3;
    font-size: 2rem;
    align-items: center;
    text-align: justify;
    padding: 5rem 1rem;
    transition: all 0.3s ease;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: lighter;

    margin-top: 1rem;

    margin-right: 1rem;
}

.p1 {
    font-size: 4rem;
    font-weight: 600;
    
    text-align: center;
    transition: all 0.3s ease;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: lighter;
}

.p2 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    transition: all 0.3s ease;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: lighter;
}

@media only screen and (max-width: 1400px) {

    
    .elem {
        display: flex;
        padding: 0.5rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
        padding: .5rem;
        
        padding-bottom: 0rem;
        height: 50rem;
        width: 100%;
        overflow: hidden;
        
        /* margin-right: 1rem; */
        
    }


    .elem::before, .elem:after{
        width: 80%;
        height: 50rem;
    }
    /* .p1, .p2{
        width: 90%;
        text-align: center;
        margin: 0 0.5rem 0 0.5rem;
    } */

    .p1{
        text-align: center;
        font-size: 2.5rem;

        margin-top: -2.5rem;
        
    }

    .p2{
        font-size: 1.5rem;
        
        
    }

    .dv1{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        margin: 0;
        height: fit-content;
    }

    .box{
        height: 37.5%;
        width:30%;
        margin-bottom: .5rem;
        /* object-fit:contain; */
        /* overflow-y: scroll; */
        padding: 0;
        margin-top: 1.5rem;
    }

    .box img{
      /* max-height: 15rem; */
      object-fit: contain;
      /* object-fit: fill;   */
    }

    .elem:hover .para {
        transform: scale(1);
    }

    .elem:hover .box {
        transform: none;
    }

    .cara {
        padding-top: 10%;
        padding-bottom: 20%;
    }

    .para {
        font-size: 1.5rem;
        text-align: justify;
        height: 20rem;
        overflow-y: hidden;
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding-top: 0;
        padding-bottom: 0rem;

        padding-left: 6rem;
        padding-right: 6rem;

        z-index: 5;
    }


}

@media only screen and (max-width:900px){

    
    .elem:before , .elem:after{
        width: 70%;
    }

    .p2{
        width:80%;
    }
}

@media only screen and (max-width:650px){
    .elem::before,.elem:after{
        width:75%;
        padding: 0;
    }

    .p1{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 450px) {
    .elem, .elem:before, .elem:after{
        padding: 0;
        z-index: 5;      
        
    }

    .para{
        font-size: 1.2rem;
    }
    .p1{
        font-size: 2rem;
    }
    .p2{
        font-size: 1.5rem;
    }
} 

/* @media only screen and (max-width:600px){
    .elem::before, .elem:after{
        width:75%;
    }
} */