.background{
    border: 2px solid white;
    padding: 0rem 10rem;
}
.heading{
    font-size:60px;
    color:aquamarine;
    text-align: center;
}
.lists{
    font-size: 50px;
    color:white;
    padding:1rem 10rem;
    border-bottom: 2px solid white;
}
.listcontainer{
    list-style-type: none;
    display: flex;
    justify-content: center;
    /* margin:5rem 10rem; */
    overflow-x: auto;
    /* color:white; */
}