/* *{
    box-sizing: border-box;
    
  }
  .background{
    height : 100vh;
    position: relative;
    width : 100%;
    background-color :#2C0333 ;
    overflow: hidden;
    background-image : url('https://i.postimg.cc/YqkfrQn3/background-comp.png');
    background-size : 100vw 82vh ;
  } */
  /* .imgcontainer{
  
  background-size: cover;
  background-repeat: no-repeat;
    width: 100vw;
    height: 90vh;
  } */
  /* .heading{
    font : "Ubuntu",sans-serif;
    color : white;
    font-size: 7em;
    text-align: center;
    min-width : 60vw;
    min-height : 20vh;
    margin:auto;
    margin-top : 15vh;
    margin-bottom : 7vh ;
    text-shadow: 0px 0px 45px black;
    font-weight : 400;
  }
  
  .cardfront>img{
    position: relative;
   
  }
  .cardcontainer{
    min-width: 15vw;
    min-height: 60vh;
    background-color: #07000B;
    box-shadow: 0px 0px 50px pink ;
    border-radius: 2px;
  }
  .cardfront{
  color : white;
  font-size: 1.5rem;

  }
  .cardback ,.cardfront{
    backface-visibility: hidden;
    position: absolute;
    width : 100%;
    height: 100%;
   
  
  }
  
  .flexcontainer{
    display: flex;
    flex-direction: row;
   justify-content: space-evenly;
  }
  .bottom{
    min-width : 100vw;
    min-height : 18vh;
    background-color: #07000B;
    position: absolute;
    bottom:0px;
    
    
  }
  .cardback{
    padding : 1em;
    justify-content: center;
    color : white;
    margin: auto;
    text-align: center;
    font-size: 2em;
    transform: rotateY(180deg);
    
  }
  .flipcontainer{
    position: relative;
    width : 100%;
  height : 100%;
  text-align: center;
  transition : transform 0.8s;
  transform-style : preserve-3d ;
  }
  .cardcontainer:hover .flipcontainer{
    transform: rotateY(180deg);
  }
  
  .img > img {
    width : 100% ;
  }
  @media (max-width:720px) {
    .cardcontainer{
        width : 25vw
    }
    .heading {
        font-size: 5em;
    }
  } */
  /* @media (max-width:720px) {
    .Responsibility{
        flex-direction: column;
        margin: 0;
        padding: 045;
    }
    .heading {
        font-size: 5em;
    }
  } 
   */


  body{
    color: white;
  }
  .Responsibilities h1{
    font-size: 4rem;
    margin-top: 2rem;
    text-align: center;
    /* border: 2px solid white; */
    ;
  }
  .Responsibilities{
    display: flex;
    flex-direction: column;
    padding:0 50px;
    /* border: 2px solid white; */
    background-color: black;
    overflow: hidden;
    /* border: 2px solid white; */
  }
  .container{
    display: flex;
    /* gap: 20px; */
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 0 2rem;
    scroll-behavior: smooth;
  }
  .headerscontainer{
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin: 0 2rem;
    scroll-snap-type:x mandatory;
    scroll-behavior: smooth;
    transition: 1s ease;
  }
  .Responsibility{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    padding:1rem 15rem;    
  }
  .nav_head{
    font-size: 4rem;
    margin: 0 4rem;
    opacity:0.5;
    cursor:pointer;
  }
  .active_head{
    border-image: linear-gradient(135deg, #f701b2, #01a7fe) 30;
    border-width: 0.6rem;
    opacity: 1 ;
    align-self: center;
    text-align: center;
    border-bottom: 2px solid white;
    scroll-snap-align: center;
    /* text-align: center; */
    /* border-style:double; */
    text-shadow: -1rem -0.5rem 2rem #f701b244,
                1rem 0.5rem 2rem #01a7fe44,
                inset 1rem 0.5rem 2rem #f701b244,
                inset -1rem -0.5rem 2rem #01a7fe44;
  }
  .answer_container{
    padding:0 5rem;
    margin-top: 5rem;
  }
  .textbox{
    font-size: 3rem;
    /* border-spacing: 1rem; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 60%;
    text-align: left;
  }
  .imagebox{
    width: 40%;
    height: 40rem;
    /* border: 2px solid white; */
  }
  @media (max-width:720px){
    .Responsibilities h1{
      font-size: 3rem;
      text-align: center;
    }
    .imagebox{
      display: none;
    }
    .Responsibility{
      width: 100%;
      margin: 2rem;
      height: 30rem;
    }
    .textbox{
      width:100%;
    }
    .Responsibilities{
      padding: 0;
    }

  }





  @media (max-width:1090px){
    .container{
      /* width: 100%; */
      /* border: 2px solid red; */
    }
      .headerscontainer{
        overflow-x: scroll;
        scrollbar-width:none;
        margin: 0;
        /* border: 2px solid white; */
      }
      .Responsibility{
        flex-direction: column;
        padding: 0;
        /* border: 2px solid white; */
        /* width: 100%; */

      }
      .imagebox{
        /* width: 100%; */
        /* border: 2px solid white; */
      }
      .textbox{
        /* width: 100%; */
        text-align: left;
        justify-self: center;
        font-size: 2rem;
        text-wrap:wrap;
        /* border: 2px solid white; */

      }
      
  }
  