.incentives26-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5rem 0rem 5rem 0rem;
    /* border: 5px solid white; */
    /* height: 50vh; */
    /* position: relative; */
    /* overflow: hidden; */
    /* margin: 10rem; */
    /* padding: 5rem; */
}
.card{
    margin: 0rem;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding: 0rem 7rem 0rem 7rem;
    border: 2px solid rgb(255, 49, 49);
    border-radius: 7rem;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0rem 2.5rem rgba(255, 49, 49, 0.493);
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 2rem;
}
.icon svg{
    width: 20rem;
    padding: 0;
    margin: 0;
}
.textdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.4rem;
    margin: 0.3rem;
}
.textdiv h3{
    color: rgb(255, 255, 255);
    font-size: 3rem;
}
.textdiv p{
    all: revert;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    /* margin: 2rem; */
} 

@media (min-width: 0px) and (max-width: 410px)  {
    .card{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0rem 1rem 0rem 1rem;
        padding: 2rem 2rem 2rem 2rem;
        border-radius: 3.5rem;
    }
    .icon{
        margin: 0rem;
        float: left;
    }
    .icon svg{
        width: 10rem;
    }
    .textdiv{
        gap: 0.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .textdiv h3{
        font-size: 2.3rem;
    }
    .textdiv p{
        font-size: 1.5rem;
    }
}

@media (min-width: 410px) and (max-width: 600px) {
    .card{
        width: 100%;
        display: block;
        margin: 0rem 1rem 0rem 1rem;
        padding: 2rem 2rem 2rem 2rem;
        border-radius: 3.5rem;
    }
    .icon{
        margin: 0rem;
        float: left;
    }
    .icon svg{
        width: 13rem;
    }
    .textdiv{
        gap: 0.4rem;
        display: contents;
    }
    .textdiv h3{
        font-size: 2.3rem;
    }
    .textdiv p{
        font-size: 1.5rem;
    }
}

@media (min-width: 601px) and (max-width: 800px)  {
    .card{
        width: 100%;
        display: inline-block;
        margin: 0rem 1rem 0rem 1rem;
        padding: 2rem 2rem 2rem 2rem;
        border-radius: 3.5rem;
    }
    .icon{
        margin: 0rem;
        float: left;
    }
    .icon svg{
        width: 13rem;
    }
    .textdiv{
        gap: 0.4rem;
    }
    .textdiv h3{
        font-size: 2.3rem;
    }
    .textdiv p{
        font-size: 1.5rem;
    }
}
@media (min-width: 801px) and (max-width: 1100px) {
    .card{
        width: 90%;
        display: inline-block;
        margin: 0rem 1rem 0rem 1rem;
        padding: 2rem 2rem 2rem 2rem;
        border-radius: 3.5rem;
    }
    .icon{
        margin: 0rem;
        float: left;
    }
    .icon svg{
        width: 15rem;
    }
    .textdiv{
        gap: 0.4rem;
    }
    .textdiv h3{
        font-size: 2.7rem;
    }
    .textdiv p{
        font-size: 1.9rem;
    }
}