.scroll-stack-section {
  position: relative;
  width: 100%;
  height: auto;
}

.scroll-stack-inner {
  padding: 0 0 16vh 0;
  position: relative;
}

.scroll-stack-card {
  position: relative;
  transform-origin: top center;
  will-change: transform;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading{
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 12rem;
  padding-bottom: 3rem;
  color: white;
  font-size: 5rem;
}

@media (max-width: 480px) {
  .heading{
    font-size: 4rem;
    top: 13rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 1100px) {
  .heading{
    font-size: 4.3rem;
    top: 11rem;
    padding-bottom: 2rem;
  }
}