.cov{
    padding-top: 10vh;
}

.main{
    display: flex;
    justify-content: center; /* Changed from space-around to center */
    padding: 2rem;
    gap: 20rem; /* This will now work as expected */
    padding-bottom: 20rem;
    flex-wrap: wrap;
}
